.back{
  background-image: url('https://www.learningpolls.org/images/laptop-desk.jpg');
  height: 91%;
}
mat-tab-group {
    width: auto;
    align-items: center;
    background-color: white;
}

.example-container {
    position: relative;
    min-height: 200px;
  }
  
  .example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  th.mat-header-cell {
    padding-left: 24px;
    padding-right: inherit;
}
td.mat-cell{
    padding-left: 15px;
    padding-right: 15px;
}
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  .example-card {
    background: lightcyan;
    min-width: 438px;
    transition: box-shadow 0.7s, transform 0.3s;
    margin: 10px 10px 10px 10px;
}
